{% extends "accounts/auth_base.html" %}

{% load crispy_forms_tags %}

{% block title %}ACTIVATION{% endblock %}

{% block form_heading %}Активация{% endblock %}

{% block form %}
    <form>
       <h3>Ваш аккаунт активирован!</h3>
    </form>

  <div class="form-message ">
    <p>
      Теперь вы можете перейти к заказу билета по необходимому маршруту.
    </p>
    <span style="color: #ff7f50; " size="50"><a href="{% url 'accounts:login' %}" >Вход</a></span>
  </div>
{% endblock form %}