
{% extends "base.html" %}
{% block title %}Cancel Ticket{% endblock %}

{% block body %}
    <div class="w3-display-middle" style="width:80%">
    <div class="w3-container w3-white w3-padding-16"  style="margin-top:50px; height: 600px; overflow-y: scroll;">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <div class="alert alert-danger">
            Вы уверены, что хотите отменить билет?
        </div>

        <table>
                    <tr>
                        <th>Пассажир</th>
                        <td>{{ ticket.passenger }}</td>
                    </tr>
                    <tr>
                        <th>Тип места</th>
                        <td>{{ ticket.type }}</td>
                    </tr>
                    <tr>
                        <th>Откуда</th>
                        <td>{{ ticket.source.getStationName }} в {{ ticket.source.departure }}</td>
                    </tr>
                    <tr>
                        <th>Куда</th>
                        <td>{{ ticket.dest.getStationName }} в {{ ticket.dest.arrival }}</td>
                    </tr>
                    <tr>
                        <th>Дата</th>
                        <td>{{ ticket.source.day }}</td>
                    </tr>
                </table>
        <form action="" method="post">
          {% csrf_token %}
          <input type="submit" value="Отменить" class="btn btn-danger" />
        </form>

      </div>
    </div>
  </div>
    </div>
    </div>
{% endblock %}