<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Marshrut</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Custom Transportation Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
            Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
            function hideURLbar(){ window.scrollTo(0,1); } </script>
        <link href="/static/web/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/static/web/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css'/>
        <link href="/static/web/css/font-awesome.css" rel="stylesheet">   <!-- font-awesome icons -->
        <link rel="stylesheet" href="/static/web/css/lightbox.css">
        <link href="/static/web/css/style.css" rel="stylesheet" type="text/css" media="all" />
        <script src="/static/web/js/jquery-2.2.3.min.js"></script>
        <link href="//fonts.googleapis.com/css?family=Faster+One" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Istok+Web:400,400i,700,700i" rel="stylesheet">
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    </head>
<body>
<div class="w3_navigation">
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="navbar-header navbar-left">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="w3_navigation_pos">
						<h1><a href="/">Deliver</a></h1>
					</div>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse border navbar-right" id="bs-example-navbar-collapse-1">
					<nav class="menu menu--miranda">
						<ul class="nav navbar-nav menu__list">
							<li class="menu__item menu__item--current"><a href="#about" class="menu__link">О нас</a></li>
							<li class="menu__item"><a href="marshrutka/" class="scroll menu__link">Запись</a></li>
							<li class="menu__item"><a href="#contact" class="scroll menu__link">Контакты</a></li>
							<li class="menu__item"><a class="scroll menu__link" href="news/" >Новости</a></li>
							<li class="menu__item"><a href="#gallery" class="scroll menu__link">Авто</a></li>
                            <li class="menu__item"><a href="#contact" class="scroll menu__link">Аренда</a></li>
						</ul>
					</nav>
				</div>
			</nav>
		</div>
	</div>
<!-- banner -->
	<div class="jarallax banner">
		<div class="banner-pos banner1">
			<div class="container">
				<div class="banner-info">
					<h2>Маршрутное такси<span>Скорость</span></h2> <h3>Новолукомль-</h3>
                    <h3>Минск</h3>
					<p>Мы за качество и комфорт</p>
				</div>
			</div>
			<div class="login-form banner-posit">
				<h3>Booking online</h3>
				<form>
                    <img src ="/static/image/Karta.png" class="img-responsive" alt="" />
                    <a href="marshrutka/" class="button24 img-responsive">Зарезервировать место</a>
				</form>
			</div>
		</div>
	</div>
	<!-- banner -->
	<div class="jarallax w3ls-section w3-about" id="about">
		<div class="container">
			<h3 class="agileits-title">О НАС</h3>
			<div class="about-main">
				<div class="w3ls-about-left col-md-6">
					<img class="img-responsive" src="/static/image/fon2.jpg" alt="about-image"/>
				</div>
				<div class="w3ls-about-right col-md-6">
					<div class=" stats-info-right">
						<div class="stats-info-text">
							<h4>10</h4>
							<h5>лет</h5>
							<p>перевозок</p>
						</div>
					</div>
					<div class="w3_agileits-ab-main">
						<h4>Маршрутное такси</h4>
						<p class="about-text-w3l">Идеальное решение для пассажирских перевозок большого количества людей и путешествий. Кроме того Вы можете оформить аренду автобусов через наших операторов, а также заказать автобусы через наш сайт или по электронной почте. Наши услуги – это всегда быстро и удобно.</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- banner-bottom -->
	<div class="agileinfo-abt-btm w3ls-section">
		<div class="container">
			<h3 class="h3-w3l">Маршрутное такси <span>- нужный, быстрый и полезный вид транспорта. С комфортом доставят вас в любую точку Беларуси</span></h3>
			<h4 class="h3-w3l">и за её пределы.</h4>
		</div>
	</div>
	<!-- Features -->
<div class="jarallax w3ls-section w3ls-features" id="features">
	<div class="container">
		<h3 class="agileits-title">Особенности</h3>
		<div class=" col-md-4 col-sm-4 col-xs-4 feature-main">
			<div class="feature-txt">
				<h4>Грузоперевозки<i class="fa fa-truck" aria-hidden="true"></i></h4>
			</div>
			<div class="feature-txt">
				<h4>Низкая цена<i class="fa fa-database" aria-hidden="true"></i></h4>
			</div>
			<div class="feature-txt">
				<h4>Колл-центр<i class="fa fa-phone" aria-hidden="true"></i></h4>
			</div>
		</div>
		<div class=" col-md-4 col-sm-4 col-xs-4 feature-img">
			<img src="/static/image/068.jpg" class="img-responsive" alt="" />
		</div>
		<div class=" col-md-4 col-sm-4 col-xs-4 feature-main fm-right">
			<div class="feature-txt">
				<h4><i class="fa fa-bus" aria-hidden="true"></i>Безопасность</h4>
			</div>
			<div class="feature-txt">
				<h4><i class="fa fa-laptop" aria-hidden="true"></i>Онлайн заказ</h4>
			</div>
			<div class="feature-txt">
				<h4><i class="fa fa-wifi" aria-hidden="true"></i>WiFi</h4>
			</div>
		</div>
	</div>
</div>
	<!-- gallery -->
	<div id="gallery" class="jarallax w3ls-section gallery">
		<div class="container">
			<div class="agileits-title">
				<h3 class="agileits-title">Автопарк</h3>
			</div>
			<div class="gallery-w3lsrow">
				<div class="col-sm-3 col-xs-4 gallery-grids">
					<div class="w3ls-hover">
						<a href="static/image/k1.jpg" data-lightbox="example-set" data-title="Современный автопарк, оборудованный всем необходимым для обеспечения безопасности и комфорта пассажиров">
							<img src="static/image/k1.jpg" class="img-responsive zoom-img" alt=""/>
							<div class="view-caption">
								<h5>Просмотреть</h5>
								<span class="glyphicon glyphicon-search"></span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-sm-3 col-xs-4 gallery-grids">
					<div class="w3ls-hover">
						<a href="static/image/k2.jpg" data-lightbox="example-set" data-title="Современный автопарк, оборудованный всем необходимым для обеспечения безопасности и комфорта пассажиров">
							<img src="static/image/k2.jpg" class="img-responsive zoom-img" alt=""/>
							<div class="view-caption">
								<h5>Просмотреть</h5>
								<span class="glyphicon glyphicon-search"></span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-sm-3 col-xs-4 gallery-grids">
					<div class="w3ls-hover">
						<a href="static/image/k3.jpg" data-lightbox="example-set" data-title="Современный автопарк, оборудованный всем необходимым для обеспечения безопасности и комфорта пассажиров">
							<img src="static/image/k3.jpg" class="img-responsive zoom-img" alt=""/>
							<div class="view-caption">
								<h5>Просмотреть</h5>
								<span class="glyphicon glyphicon-search"></span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-sm-3 col-xs-4 gallery-grids">
					<div class="w3ls-hover">
						<a href="static/image/k4.jpg" data-lightbox="example-set" data-title="Современный автопарк, оборудованный всем необходимым для обеспечения безопасности и комфорта пассажиров">
							<img src="static/image/k4.jpg" class="img-responsive zoom-img" alt=""/>
							<div class="view-caption">
								<h5>Просмотреть</h5>
								<span class="glyphicon glyphicon-search"></span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-sm-3 col-xs-4 gallery-grids">
					<div class="w3ls-hover">
						<a href="static/image/k5.jpg" data-lightbox="example-set" data-title="Современный автопарк, оборудованный всем необходимым для обеспечения безопасности и комфорта пассажиров">
							<img src="static/image/k5.jpg" class="img-responsive zoom-img" alt=""/>
							<div class="view-caption">
								<h5>Просмотреть</h5>
								<span class="glyphicon glyphicon-search"></span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-sm-3 col-xs-4 gallery-grids">
					<div class="w3ls-hover">
						<a href="static/image/k6.jpg" data-lightbox="example-set" data-title="Современный автопарк, оборудованный всем необходимым для обеспечения безопасности и комфорта пассажиров">
							<img src="static/image/k6.jpg" class="img-responsive zoom-img" alt=""/>
							<div class="view-caption">
								<h5>Просмотреть</h5>
								<span class="glyphicon glyphicon-search"></span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-sm-3 col-xs-4 gallery-grids">
					<div class="w3ls-hover">
						<a href="static/image/k7.jpg" data-lightbox="example-set" data-title="Современный автопарк, оборудованный всем необходимым для обеспечения безопасности и комфорта пассажиров">
							<img src="static/image/k7.jpg" class="img-responsive zoom-img" alt=""/>
							<div class="view-caption">
								<h5>Просмотреть</h5>
								<span class="glyphicon glyphicon-search"></span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-sm-3 col-xs-4 gallery-grids">
					<div class="w3ls-hover">
						<a href="static/image/k8.jpg" data-lightbox="example-set" data-title="Современный автопарк, оборудованный всем необходимым для обеспечения безопасности и комфорта пассажиров">
							<img src="static/image/k8.jpg" class="img-responsive zoom-img" alt=""/>
							<div class="view-caption">
								<h5>Просмотреть</h5>
								<span class="glyphicon glyphicon-search"></span>
							</div>
						</a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<!--  light box js -->
			<script src="static/web/js/lightbox-plus-jquery.min.js"> </script>
			<!-- //light box js-->
		</div>
	</div>

<div class="jarallax w3ls-section w3_agileits-services" id="services">
	<div class="demo">
		<div class="container">
				<div class="w3-welcome">
					<h3 class="agileits-title">Предоставляемые услуги</h3>
				</div>
			<div id="verticalTab">
				<ul class="resp-tabs-list">
					<li>
						<div class="tab1">
							<h3>Маршрут "Минск-Новолукомль"</h3>
						</div>
					</li>
					<li>
						<div class="tab1">
							<h3>Маршрут "Новолукомль-Минск"</h3>
						</div>
					</li>
                    <li>
						<div class="tab1">
							<h3>Маршрут "Минск-Москва"</h3>
						</div>

					</li>
					<li>
						<div class="tab1">
							<h3>Аренда микроавтобусов</h3>
						</div>
					</li>
					<li>
						<div class="tab1">
							<h3>Грузоперевозки</h3>
						</div>
					</li>
				</ul>
				<div class="resp-tabs-container">
				<div>
					<div class="col-md-8 tabs-right1">
						<h6>Маршрут "Минск-Новолукомль"</h6>
						<p>Мы организуем пассажироперевозки по маршруту "Минск-Новолукомль". По пути следования расположено 5 остановок (Игрушки-Жодино-Борисов-Холопеничи-Новолукомль). При желании может проводится высадка пассажиров в другом месте по пути следования при предварительном осведомлении водителя.</p>
						<p class="agile-tab-txt">Стоимость проезда - 10 рублей. Каждая 10 поездка - БЕСПЛАТНО (при наличии при себе скидочной карты организации).</p>
						<div class="button">
							<a href="#" data-toggle="modal" data-target="#myModal">Дополнительно<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
						</div>
					</div>
					<div class="col-md-4 tabs-right2">
							<img src="/static/image/k5.jpg" class="img-responsive" alt="" />
					</div>
					<div class="clearfix"></div>
				</div>
				<div>
					<div class="col-md-8 tabs-right1">
						<h6>Маршрут "Новолукомль-Минск"</h6>
						<p>Мы организуем пассажироперевозки по маршруту "Новолукомль-Минск". По пути следования расположено 5 остановок (Холопеничи-Борисов-Жодино-Игрушки-Минск). При желании может проводится высадка пассажиров в другом месте по пути следования при предварительном осведомлении водителя.</p>
						<p class="agile-tab-txt">Стоимость проезда - 10 рублей. Каждая 10 поездка - БЕСПЛАТНО (при наличии при себе скидочной карты организации).</p>
						<div class="button">
							<a href="#" data-toggle="modal" data-target="#myModal">Дополнительно<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
						</div>
					</div>
					<div class="col-md-4 tabs-right2">
							<img src="/static/image/k7.jpg" class="img-responsive" alt="" />
					</div>
					<div class="clearfix"></div>
				</div>
				<div>
					<div class="col-md-8 tabs-right1">
						<h6>Маршрут "Минск-Москва"</h6>
						<p>Мы организуем пассажироперевозки по маршруту "Минск-Москва". При желании может проводится высадка пассажиров в другом месте по пути следования при предварительном осведомлении водителя.</p>
						<p class="agile-tab-txt">Стоимость проезда - 20 рублей. Каждая 10 поездка - БЕСПЛАТНО (при наличии при себе скидочной карты организации).</p>
						<div class="button">
							<a href="#" data-toggle="modal" data-target="#myModal">Дополнительно<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
						</div>
					</div>
						<div class="col-md-4 tabs-right2">
								<img src="/static/web/images/g7.jpg" class="img-responsive" alt="" />
						</div>
						<div class="clearfix"></div>
					</div>
				<div>
					<div class="col-md-8 tabs-right1">
						<h6>Аренда микроавтобусов</h6>
						<p>Готовим пакеты документов, необходимые для перевозки взрослых и детей. У наших водителей множество откатанных маршрутов. Действует собственный отдел безопасности движения и СТО. </p>
						<p class="agile-tab-txt">Цена высчитывается индивидуально и зависит от выбранной модели и времени аренды.</p>
						<div class="button">
							<a href="#" data-toggle="modal" data-target="#myModal">Дополнительно<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
						</div>
					</div>
					<div class="col-md-4 tabs-right2">
							<img src="/static/image/k8.jpg" class="img-responsive" alt="" />
					</div>
					<div class="clearfix"></div>
				</div>
				<div>
				<div class="col-md-8 tabs-right1">
					<h6>Грузоперевозки</h6>
					<p>Поможет Вам с организацией перевозки в любое удобное для Вас время, абсолютно бесплатно проконсультируем, что разбирать, что упаковывать, а что не надо. Подберем подходящую машину и грузчиков. Все это выполним быстро, недорого и, конечно же, качественно и надежно.</p>
					<p class="agile-tab-txt">Цена высчитывается индивидуально.</p>
					<div class="button">
						<a href="#" data-toggle="modal" data-target="#myModal">Дополнительно<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
					</div>
				</div>
					<div class="col-md-4 tabs-right2">
							<img src="/static/web/images/g5.jpg" class="img-responsive" alt="" />
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			</div>
		</div>
		<div style="height: 30px; clear: both"></div>
	</div>
</div>
	<script src="static/web/js/easy-responsive-tabs.js"></script>
	<script>
	$(document).ready(function () {
	$('#horizontalTab').easyResponsiveTabs({
	type: 'default', //Types: default, vertical, accordion
	width: 'auto', //auto or any width like 600px
	fit: true,   // 100% fit in a container
	closed: 'accordion', // Start closed if in accordion view
	activate: function(event) { // Callback function if tab is switched
	var $tab = $(this);
	var $info = $('#tabInfo');
	var $name = $('span', $info);
	$name.text($tab.text());
	$info.show();
	}
	});
	$('#verticalTab').easyResponsiveTabs({
	type: 'vertical',
	width: 'auto',
	fit: true
	});
	});
	</script>

	<div class="jarallax w3ls-section wthree-service-bottom">
		<div class="container">
			<h3 class="agileits-title">У вас еще остались вопросы?</h3>
			<a href="#contact" class="scroll">Напиши нам!</a>
		</div>
	</div>

	<div class="jarallax w3ls-section team">
		<div class="container">
			<h3 class="agileits-title">Наша команда</h3>
			<div class="wthree_team_agileinfo">
				<div class="col-sm-3 col-xs-3 wthree_team_grid_left">
					<figure class="effect-julia">
						<img src="/static/web/images/t1.jpg" alt=" " class="img-responsive" />
						<div class="w3l_banner_figure">
							<p>Александр</p>
							<p>
								<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
								<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a>
								<a href="#" class="social-button google"><i class="fa fa-instagram"></i></a>
								<a href="#" class="social-button dribbble"><i class="fa fa-vk"></i></a>
							</p>
							<p>Директор</p>
						</div>
					</figure>
				</div>
				<div class="col-sm-3 col-xs-3 wthree_team_grid_left">
					<figure class="effect-julia">
						<img src="/static/web/images/t2.jpg" alt=" " class="img-responsive" />
						<div class="w3l_banner_figure">
							<p>Лариса</p>
							<p>
								<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
								<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a>
								<a href="#" class="social-button google"><i class="fa fa-instagram"></i></a>
								<a href="#" class="social-button dribbble"><i class="fa fa-vk"></i></a>
							</p>
							<p>Главный логист</p>
						</div>
					</figure>
				</div>
				<div class="col-sm-3 col-xs-3 wthree_team_grid_left">
					<figure class="effect-julia">
						<img src="/static/web/images/t3.jpg" alt=" " class="img-responsive" />
						<div class="w3l_banner_figure">
							<p>Михаил</p>
							<p>
								<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
								<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a>
								<a href="#" class="social-button google"><i class="fa fa-instagram"></i></a>
								<a href="#" class="social-button dribbble"><i class="fa fa-vk"></i></a>
							</p>
							<p>Главный водитель</p>
						</div>
					</figure>
				</div>
				<div class="col-sm-3 col-xs-3 wthree_team_grid_left">
					<figure class="effect-julia">
						<img src="/static/web/images/t4.jpg" alt=" " class="img-responsive" />
						<div class="w3l_banner_figure">
							<p>Ирина</p>
							<p>
								<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
								<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a>
								<a href="#" class="social-button google"><i class="fa fa-instagram"></i></a>
								<a href="#" class="social-button dribbble"><i class="fa fa-vk"></i></a>
							</p>
							<p>Глава колл-центра</p>
						</div>
					</figure>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

	<div class="jarallax w3ls-section testimonials" id="testimonials">
		<div class="container">
			<h3 class="agileits-title">Отзывы</h3>
			<div class="col-md-6 col-sm-6  w3ls-testi-left" >
                <div style="position: relative;">
                     <img src="/static/web/images/2.jpg" alt="" style="width: 100%" />
                     {% if user.is_authenticated %}
                        <div class="contact-form" style="position: absolute;left:15%;top: 25%;background: white;width: 70%">
                            <form method="post" style="width: 90%;margin: 15px">
                                {% csrf_token %}
                                <textarea name="Text" required="" placeholder="Добавить новый комментарий"></textarea>
                                <p><input type="submit"  name="new_comment" value="Добавить"></p>
                            </form>
                        </div>
                    {% endif %}
                </div>
			</div>
			<div class="col-md-6 col-sm-6 box agileits-feedback-grids">
					<div>
                        {% for comment in comments %}
                        <div class="testimonal grid-1">
							<p><i class="fa fa-quote-right" aria-hidden="true"></i>{{ comment.comment }}</p>
							<h3 class="agile-testi-right">{{ comment.user }}</h3>
						</div>
{#                        {% empty %}#}
{#                            <p>There are no comments yet.</p>#}
                        {% endfor %}
						<div class="testimonal grid-1">
							<p><i class="fa fa-quote-right" aria-hidden="true"></i>Замечательный сервис и прекрасный водитель. Очень отзывчивый персонал! </p>
							<h3 class="agile-testi-right"> Екатерина</h3>
						</div>
						<div class="testimonal grid-1">
							<p><i class="fa fa-quote-right" aria-hidden="true"></i>Водитель Руслан очень выручил. Помог не только довести вещи, но и донес до двери. </p>
							<h3 class="agile-testi-right">Карина</h3>
						</div>
						<div class="testimonal grid-1">
							<p><i class="fa fa-quote-right" aria-hidden="true"></i>Арендовывали маршрутку на свадьбу. Очень низкие цены и высокий уровень качества работ</p>
							<h3 class="agile-testi-right">Михаил</h3>
						</div>
						<div class="testimonal grid-1">
							<p><i class="fa fa-quote-right" aria-hidden="true"></i>Очень удобно, что можешь забронировать место онлайн. Спасибо огромное)</p>
							<h3 class="agile-testi-right">Екатерина</h3>
						</div>
						<div class="testimonal grid-1">
							<p><i class="fa fa-quote-right" aria-hidden="true"></i>Понравилось то, что за день тебе звонят, уточняют детали поедки и спрашивают о возникших вопросах.</p>
							<h3 class="agile-testi-right">Владислав</h3>
						</div>
						<div class="testimonal grid-1">
							<p><i class="fa fa-quote-right" aria-hidden="true"></i>Ездил в Москву. Очень понравился водитель, в такой веселой и дружной атмосфере доехали. Буду всем теперь только Вас советовать! </p>
							<h3 class="agile-testi-right"> Maртин</h3>
						</div>
					</div>
			</div>
			</div>
		</div>

<!-- contact -->
	<div class="jarallax w3ls-section contact" id="contact">
		<div class="container">
			<h3 class="agileits-title">Контакты</h3>
			<div class="contact-form">
				<div class="col-md-7 contact-right">
					<h5>Напишите нам сообщение</h5>
					<p>Введите личные данные, чтобы мы могли с Вами связаться</p>
					<form method="post">
                        {% csrf_token %}
						<input type="text" name="Name" placeholder="Имя" required="">
						<input type="email" class="email" name="Email" placeholder="Email" required="">
						<textarea name="message" placeholder="Сообщение" required=""></textarea>
						<input  type="submit" value="Отправить" >
					</form>
				</div>
				<div class="col-md-5 contact-left">
					<div class="address">
						<h5>Адресс:</h5>
						<p><i class="glyphicon glyphicon-home"></i>г.Новолукомль ул.Энергенитов 22-10</p>
					</div>
					<div class="address address-mdl">
						<h5>Телефоны:</h5>
						<p><i class="glyphicon glyphicon-earphone"></i> +375333085679</p>
						<p><i class="glyphicon glyphicon-phone"></i> +375295085673</p>
					</div>
					<div class="address">
						<h5>Email:</h5>
						<p><i class="glyphicon glyphicon-envelope"></i> <a href="mailto:alinasadovsckaya@yandex.by">novolukoml_minsk@mail.ru</a></p>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="agileits-w3layouts-map">
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A86c832a0051d94bc4ac8b397fbdaaeb56261d5488444fb21e207c8d2e5734a0c&amp;source=constructor" allowfullscreen="" height="414"></iframe>
        </div>
	</div>
	<!-- //contact -->
	<div class="w3_agile-copyright text-center">
		<p>© 2020 custom. All rights reserved | Design by Alina Sadovskaya</p>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" >
		<div class="modal-dialog">
			<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h3>Маршрутное такси</h3>
						<img src="/static/image/068.jpg" alt="construct" class="img-responsive"/>
						<span>Наша основная работа — это экспресс-доставка пассажиров из Новолукомля в Минск и обратно! Это мы делаем каждый день на комфортабельных микроавтобусах вместимостью до 21 пассажирских мест. Пассажирские перевозки Минск-Новолукомль и Минск-Москва представляют собой качественный сервис по неизменно отличной стоимости проезда. Отправление каждый час и четко соблюдаемый график движения позволяет пассажирам комфортно и быстро добираться из Минска в Новолукомль и обратно. Предварительный заказ мест в наших автобусах гарантирует пассажирам отсутствие проблем в день выезда.</span>
					</div>
				</div>
		</div>
	</div>
	<!-- //Modal -->
	<script src="/static/web/js/index.js"></script>
	<!-- //banner -->
<script src="/static/web/js/jarallax.js"></script>
<script src="/static/web/js/SmoothScroll.min.js"></script>
<script type="text/javascript">
	/* init Jarallax */
	$('.jarallax').jarallax({
		speed: 0.5,
		imgWidth: 1366,
		imgHeight: 768
	})
</script>
		<script type="text/javascript">
			$(document).ready(function() {
				$().UItoTop({ easingType: 'easeOutQuart' });

				});
		</script>
		<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="/static/web/js/move-top.js"></script>
		<script type="text/javascript" src="/static/web/js/easing.js"></script>
		
		<!-- /ends-smoth-scrolling -->
	<!-- //here ends scrolling icon -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/web/js/bootstrap.js"></script>

</body>
</html>